*{
    padding: 0px;
    margin: 0px ;
}
:root{
    --first-color:#ffcbcb; 
    --second-color:#ffb5b5; 
    --third-color:#407088;
    --frouth-color:#132743; 
}
h1{
    display: flex; 
    justify-content: center; 
    background-color: var(--first-color);

}
h2{
    
}


.menu {
    list-style: none; 
    padding: 15px; 
    display: flex; 
    justify-content: center;
    gap: 15px;
    background-color: var(--first-color);
  }
  
 .menu a {
    text-decoration: none;
    color:black;
    font-weight: bold;
 }
 .menu a:hover {
    color:var(--third-color);
  }
  .card-1{
     width: 300px;
    height: 300px;
   }

   .card-1 img {
    width: 100%;
    height: 100%;
   }
    .card-2{
        width: 300px;
        height: 300px;
        
    }
   .card-2 img{
    width: 100%;
    height: 100%;

   }
   .card-3 {
    width:300px ;
    height: 300px;

   }
   .card-3 img{
    width: 100%;
    height: 100%;

   }
   .card-4{
    width: 300px;
    height: 300px;
   }
.card-4 img {
    width: 100%;
    height: 100%;

}

#Produits-1  .card-1{
    max-width: 300px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}